{% extends 'page.html' %}

{% block conteudo %}
<div class="content container">
    <h2 class="text-center alert alert-dark">
        {{form_titulo}}
    </h2>

    <div class="row">
{#        {% if user.is_authenticated %}#}
            <div>
                <a class="btn btn-success" href="{% url 'new_aluno'%}">Novo Aluno</a>
            </div>
{#        {% endif %}#}
        <div class="col-md-12 mt-1 table-responsive table-striped">
            <table class="table table-hover">
                <thead class='table-dark'>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>turma</th>
                        {% if user.is_authenticated %}
                            <th class="text-center" >Ações</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class='bg-light'>
                    {% for aluno in alunos %}
                    <tr>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email |default_if_none:""}}</td>
                        <td>{{aluno.turma |default_if_none:""}}</td>
                        {% if user.is_authenticated %}
                        <td class="text-center">
                            <a class="text-primary"  href="{% url 'update_aluno' aluno.pk%}"> 
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="text-danger" href="{% url 'delete_aluno' aluno.pk%}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {%empty%}
                    <p>Nenhum aluno cadastrado!</p>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock conteudo %}