{% extends 'page.html' %}

{% block conteudo %}
<div class="content container">
    <h2 class="text-center alert alert-dark">
        {{form_titulo}}        
    </h2>

    <div class="row">
        {% if user.is_authenticated %}
        <div>
            <a class="btn btn-success" href="{% url view.url_add_btn %}">{{view.label_add_btn}} </a>
        </div>
        {% endif %}
        <div class="col-md-12 mt-1">
            <table class="table table-hover">
                <thead class='table-dark'>
                    <tr>
                        {% for header in view.fields %}
                        <th class="">{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class='bg-light'>
                    {% for item in itens %}
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>{{item.curso}}</td>
                        <td class="text-center">{{item.ano}}</td>
                        {% if user.is_authenticated %}
                            <td class="text-center">
                                <a class="text-primary"  href="{% url 'update_turma' item.pk%}">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a class="text-danger" href="{% url 'delete_turma' item.pk%}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {%empty%}
                    <p>Nenhum curso cadastrado!</p>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock conteudo %}