<!-- Footer -->

<footer class="text-center text-md-start bg-dark text-light p-2"  style="margin-top: 10px">
    
  
    <!-- Section: Links  -->
    <section class=" bg-dark text-light  justify-content-center  p-2 mt-4">
        <div class="container-fluid mt-1 ">
            <div class="row footer-div ">
              <div class="col-xs-10 col-md-6 ">
                 <!-- inclui o logotipo do IFPR ( -->
              
                {% include 'componentes/logo_ifpr.html' %}
              </div>
              <div class="col-xs-10 col-md-6 " style="padding-left: 5%;">
                
                  <!-- <h5 class="text-uppercase fw-bold">Contato</h5> -->
              <div style="margin-bottom: 10px;">
                  <a class="me-3 text-reset" > <span class="text-uppercase fw-bold "> Contato</span> </a>
                  <a href="https://www.facebook.com/ifpr.quedas" class="me-3 text-reset">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="https://www.instagram.com/ifpr.quedas" class="me-3 text-reset">
                      <i class="fab fa-instagram"></i>
                    </a>
                  <a href="" class="me-3 text-reset">
                    <i class="fab fa-google"></i>
                  </a>
                  
                  <a href="" class="me-3 text-reset">
                    <i class="fab fa-github"></i>
                  </a>
                  
                </div> 
                <p><i class="fas fa-home me-1"></i> Rua Marginal Imbirama nº 300, Quedas do Iguaçu - PR</p>
                <p>
                <i class="fas fa-envelope me-1"></i>
                tec.ccti.quedas@ifpr.edu.br
                </p>
                <p><i class="fas fa-phone me-1"></i> (46) 3032-1800 (Secretaria)</p>
                
              </div>
            </div>
        </div>
        
    </section>

</footer>
  <!-- Footer -->