<nav class="menu navbar navbar-dark bg-dark navbar-expand-lg ">
      <div class="container-fluid">
{#        <a class="navbar-brand" href="#">Navbar</a>#}

        <a class="navbar-brand  menu__links" style="color: white; font-weight: bold; margin-left: 1%" href="{% url 'home' %}" >
{#            <i class="fas fa-home"> </i> #}
            Início
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown menu__links" >
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastros
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'docentes' %}" class="dropdown-item">Docentes</a></li>
                <li><a href="{% url 'avaliadores' %}" class="dropdown-item">Avaliadores</a></li>
                <li><a href="{% url 'alunos' %}" class="dropdown-item">Alunos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'cursos' %}" class="dropdown-item">Cursos</a></li>
                <li><a href="{% url 'turmas' %}" class="dropdown-item">Turmas</a></li>
              </ul>
            </li>

            <li class="nav-item menu__links">
              <a class="nav-link " href="{% url 'trabalhos' %}">Trabalhos PFI</a>
            </li>
            <li class="nav-item menu__links">
              <a class="nav-link " href="{% url 'bancas' %}">Bancas</a>
            </li>
           <li class="nav-item menu__links">
              <a class="nav-link " href="{% url 'agenda' %}"> Agenda Apresentações</a>
            </li>

          </ul>


          <form class="d-flex" role="search" method="POST" action="{% url 'logout' %}">
            {% csrf_token%}
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-success " style=" height: 56px; width: 160px; font-size: 1.2rem;" aria-label="Logout" >
                    <i class="fas fa-arrow-right-to-bracket"> </i> Sair
                </button>

            {% else %}
                <a type="button" class="btn btn-success horizontal_right " style="padding-top:  12px; height: 56px; width: 160px; font-size: 1.2rem;" aria-label="Logar" href="{% url 'login' %}">
                  <i class="fas fa-sign-in"></i> Entrar
                </a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>
