<nav class="menu">
    <ul class="menu__links">
        <li>
            <a href="{% url 'home' %}" class="header-link">
                Página Inicial
            </a>
        </li>
        <li>
            <a href="{% url 'alunos' %}" class="header-link">
                Alunos
            </a>
        </li>
        <li>
            <a href="{% url 'docentes' %}" class="header-link">
                Docentes
            </a>
        </li>
        <li>
            <a href="{% url 'avaliadores' %}" class="header-link">
                Avaliadores
            </a>
        </li>
        <li>
            <a href="{% url 'cursos' %}" class="header-link">
                Cursos
            </a>
        </li>
        <li>
            <a href="{% url 'turmas' %}" class="header-link">
                Turmas
            </a>
        </li>
        <li>
            <a href="{% url 'trabalhos' %}" class="header-link">
                Trabalhos PFI
            </a>
        </li>
        <li>
            <a href="{% url 'bancas' %}" class="header-link">
                Bancas
            </a>
        </li>
    </ul>
</nav>